<!-- home slider -->
<app-homeslider></app-homeslider>

<!-- category Slider -->
<h2 class="my-2 md:text-2xl font-bold">Popular Categories</h2>
<app-categoryslider></app-categoryslider>

@if (isLoading) {
<div class="h-screen row justify-center items-center">
    <div class="loader"></div>
</div>
}@else {
<div class="home-page text-capitalize">
    <div class="row">
        @for (product of productList; track $index) {
        <div class="sm:w-6/12 md:w-4/12 lg:w-2/12 p-3">
            <div class="product p-2">
                <img [src]="product.imageCover" [alt]="product.category.name">
                <span class="text-main font-sm">{{product.category.name}}</span>
                <h3 class="my-2 font-medium">{{product.title.split(' ').splice(0,2).join(' ')}}</h3>

                <div class="row justify-between items-center">
                    <span>{{product.price}}</span>
                    <span>{{product.ratingsAverage}} <i class="fa fa-star rating-color"></i></span>
                </div>

                <button class="btn-main w-full">Add To Cart</button>
            </div>
        </div>
        }
    </div>
</div>
}