<footer class="bg-main-light py-5">
    <div class="container">
        <h2 class="m-0 h4">Get The FreshCart App</h2>
        <p class="text-muted small">
            We Will Send You a Link, Open it on Your Phone to download the app
        </p>

        <!-- inputs design  -->
        <div class="d-flex align-items-center gap-3 text-nowrap">
            <input type="text" class="form-control" placeholder="Email" />
            <button class="btn-main">Share App Link</button>
        </div>

        <hr />

        <!-- footer payment Details Design  -->
        <div class="pay-details d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                <h3 class="h6 m-0">Payment partners</h3>
                <img src="assets/images/amazon-pay.png" width="30px" alt="amazon-pay" />
                <img src="assets/images/American-Express-Color.png" width="30px" alt="American-Express" />
                <img src="assets/images/paypal.png" width="30px" alt="paypal" />
                <img src="assets/images/mastercard.webp" width="30px" alt="mastercard" />
            </div>

            <div class="d-flex align-items-center gap-2">
                <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
                <img src="assets/images/get-google-play.png" width="75px" alt="google-play" />
                <img src="assets/images/get-apple-store.png" width="75px" alt="apple-store" />
            </div>
        </div>
    </div>
</footer>