<div class="register-form md:w-3/4 mx-auto py-5 capitalize">
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Register Now :</h1>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 m-0">{{errMsg}}</p>
            </div>
            }

            <div class="name mt-2">
                <label for="name">name :</label>
                <input formControlName="name" class="form-control border border-gray-300 rounded p-2 w-full" type="text" name="name">

                <!-- validation  -->
                @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
                <div class="alert-danger">
                    @if (registerForm.get('name')?.errors?.['required']) {
                    <p class="p-1 m-0"> name is required </p>
                    }
                    @else if (registerForm.get('name')?.errors?.['minlength']) {
                    <p class="p-1 m-0"> name min length is : 3 </p>
                    }
                    @else if (registerForm.get('name')?.errors?.['maxlength']) {
                    <p class="p-1 m-0"> name max length is : 8 </p>
                    }
                </div>
                }
            </div>

            <div class="email mt-2">
                <label for="email">email :</label>
                <input formControlName="email" class="form-control border border-gray-300 rounded p-2 w-full" type="email" name="email">

                <!-- validation  -->
                @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
                <div class="alert-danger">
                    @if (registerForm.get('email')?.errors?.['required']) {
                    <p class="p-1 m-0"> email is required </p>
                    }
                    @else if (registerForm.get('email')?.errors?.['email']) {
                    <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                    }
                </div>
                }
            </div>

            <div class="password mt-2">
                <label for="password">password :</label>
                <input formControlName="password" class="form-control border border-gray-300 rounded p-2 w-full" type="password" name="password">

                <!-- validation  -->
                @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
                <div class="alert-danger">
                    @if (registerForm.get('password')?.errors?.['required']) {
                    <p class="p-1 m-0"> password is required </p>
                    }
                    @else if (registerForm.get('password')?.errors?.['pattern']) {
                    <p class="p-1 m-0"> enter valid password :
                        <br>
                        1-At least 8 characters long.
                        <br>
                        2-Contains at least one uppercase letter.
                        <br>
                        3-Contains at least one lowercase letter.
                        <br>
                        4-Contains at least one digit.
                        <br>
                        5-Contains at least one special character.
                    </p>
                    }
                </div>
                }
            </div>

            <div class="rePassword mt-2">
                <label for="repassword">rePassword :</label>
                <input formControlName="rePassword" class="form-control border border-gray-300 rounded p-2 w-full" type="password" name="rePassword">

                <!-- validation  -->
                @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
                <div class="alert-danger">
                    @if (registerForm.get('rePassword')?.errors?.['required']) {
                    <p class="p-1 m-0"> rePassword is required </p>
                    }
                    @else if (registerForm.get('rePassword')?.errors?.['mismatch']) {
                    <p class="p-1 m-0"> rePassword not match password </p>
                    }
                </div>
                }
            </div>

            <div class="phone mt-2">
                <label for="phone">phone :</label>
                <input formControlName="phone" class="form-control border border-gray-300 rounded p-2 w-full" type="tel" name="phone">

                <!-- validation  -->
                @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
                <div class="alert-danger">
                    @if (registerForm.get('phone')?.errors?.['required']) {
                    <p class="p-1 m-0"> phone is required </p>
                    }
                    @else if (registerForm.get('phone')?.errors?.['pattern']) {
                    <p class="p-1 m-0"> enter valid egyptian phone number </p>
                    }
                </div>
                }
            </div>

            <button [disabled]="registerForm.invalid" class="btn-main ms-auto block mt-2 mb-20">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>Register</span>
                }
            </button>
        </form>
    </div>
</div>