owl-carousel-o img {
  height: 12.5rem;
  object-fit: cover;
}

.static-imgs img {
  height: 6.25rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  owl-carousel-o img {
    height: 25rem;
    object-fit: cover;
  }
  
  .static-imgs img {
    height: 12.5rem;
    object-fit: cover;
  }
}
