<div class="mt-5">
    <div class="row">
        <div class="md:w-9/12">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/images/slider-image-1.jpeg" class="w-full" alt="slider-image-1">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/slider-image-2.jpeg" class="w-full" alt="slider-image-2">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/slider-image-3.jpeg" class="w-full" alt="slider-image-3">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="md:w-3/12 static-imgs">
            <img src="assets/images/slider-image-1.jpeg" class="w-full" alt="slider-image-1">
            <img src="assets/images/slider-image-2.jpeg" class="w-full" alt="slider-image-2">
        </div>
    </div>
</div>