<div class="login_form md:w-3/4 mx-auto py-5 capitalize">
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Login :</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 m-0">{{errMsg}}</p>
            </div>
            }

            <div class="email mt-2">
                <label for="email">email :</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path
                                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                            <path
                                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                        </svg>
                    </div>
                    <input formControlName="email" type="email" id="input-group-1"
                        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                        placeholder="ahmedshaaban@gmail.com">
                </div>

                <!-- validation  -->
                @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                <div class="alert-danger">
                    @if (loginForm.get('email')?.errors?.['required']) {
                    <p class="p-1 m-0"> email is required </p>
                    }
                    @else if (loginForm.get('email')?.errors?.['email']) {
                    <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                    }
                </div>
                }
            </div>

            <div class="password mt-2">
                <label for="password">password :</label>
                <input formControlName="password" type="password" id="password"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="•••••••••" />

                <!-- validation  -->
                @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                <div class="alert-danger">
                    @if (loginForm.get('password')?.errors?.['required']) {
                    <p class="p-1 m-0 rounded"> password is required </p>
                    }
                </div>
                }
            </div>

            <div class="flex items-center justify-between mt-5 gap-3">
                <button [disabled]="loginForm.invalid" class="btn-main">
                    @if (isLoading) {
                    <span><i class="fa fa-spin fa-spinner"></i></span>
                    }
                    @else {
                    <span>Sign in</span>
                    }
                </button>

                <a routerLink="/forgetpassword" class="text-blue-500 underline cursor-pointer text-lg font-medium">forget password</a>
            </div>

            <div class="flex items-center justify-center mt-5 text-lg font-medium">
                <p>Don't have an account? <a routerLink="/register" class="text-blue-500 cursor-pointer">Sign Up</a></p>
            </div>

        </form>
    </div>
</div>