<div class="login_form md:w-3/4 mx-auto py-20 mb-20 capitalize">
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Login :</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 m-0">{{errMsg}}</p>
            </div>
            }

            <div class="email mt-2">
                <label for="email">email :</label>
                <input formControlName="email" class="form-control border border-gray-300 rounded p-2 w-full"
                    type="email" name="email">

                <!-- validation  -->
                @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                <div class="alert-danger">
                    @if (loginForm.get('email')?.errors?.['required']) {
                    <p class="p-1 m-0"> email is required </p>
                    }
                    @else if (loginForm.get('email')?.errors?.['email']) {
                    <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                    }
                </div>
                }
            </div>

            <div class="password mt-2">
                <label for="password">password :</label>
                <input formControlName="password" class="form-control border border-gray-300 rounded p-2 w-full"
                    type="password" name="password">

                <!-- validation  -->
                @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                <div class="alert-danger">
                    @if (loginForm.get('password')?.errors?.['required']) {
                    <p class="p-1 m-0 rounded"> password is required </p>
                    }
                </div>
                }
            </div>

            <div class="flex items-center justify-end mt-2 mb-28 gap-3">
                <a routerLink="/forgetpassword" class="text-blue-500 underline cursor-pointer">forget password</a>

                <button [disabled]="loginForm.invalid" class="btn-main">
                    @if (isLoading) {
                    <span><i class="fa fa-spin fa-spinner"></i></span>
                    }
                    @else {
                    <span>Login</span>
                    }
                </button>
            </div>

        </form>
    </div>
</div>