<div class="shipping mt-10 md:w-3/4 mx-auto py-5 capitalize mb-52">
    <form [formGroup]="shippingAddressForm" (ngSubmit)="submitSippingAddressForm()">
        <label for="large-input" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">details :</label>
        <input formControlName='details' type="text" id="large-input" placeholder="Product Details"
            class="block w-full p-4 text-gray-900 border border-gray-300 rounded bg-gray-50 text-base form-control dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">

        <!-- validation  -->
        @if (shippingAddressForm.get('details')?.errors && shippingAddressForm.get('details')?.touched) {
        <div class="alert-danger">
            @if (shippingAddressForm.get('details')?.errors?.['required']) {
            <p class="p-1 m-0"> details is required </p>
            }
            @else if (shippingAddressForm.get('details')?.errors?.['pattern']) {
            <p class="p-1 m-0"> details must contains at least 10 letters</p>
            }
        </div>
        }

        <label for="phone-input" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">phone :</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                    <path
                        d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z" />
                </svg>
            </div>
            <input formControlName='phone' type="tel" id="phone-input" aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded form-control block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                placeholder="01067671981" />
        </div>

        <!-- validation  -->
        @if (shippingAddressForm.get('phone')?.errors && shippingAddressForm.get('phone')?.touched) {
        <div class="alert-danger">
            @if (shippingAddressForm.get('phone')?.errors?.['required']) {
            <p class="p-1 m-0"> phone is required </p>
            }
            @else if (shippingAddressForm.get('phone')?.errors?.['pattern']) {
            <p class="p-1 m-0"> enter valid egyptian phone number </p>
            }
        </div>
        }



        <label for="zip-input" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">city :</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                    <path
                        d="M8 0a7.992 7.992 0 0 0-6.583 12.535 1 1 0 0 0 .12.183l.12.146c.112.145.227.285.326.4l5.245 6.374a1 1 0 0 0 1.545-.003l5.092-6.205c.206-.222.4-.455.578-.7l.127-.155a.934.934 0 0 0 .122-.192A8.001 8.001 0 0 0 8 0Zm0 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                </svg>
            </div>
            <input formControlName='city' type="text" id="zip-input" aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded form-control block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                placeholder="Al-Shuhadaa/Menoufia" />
        </div>

        <!-- validation  -->
        @if (shippingAddressForm.get('city')?.errors && shippingAddressForm.get('city')?.touched) {
        <div class="alert-danger">
            @if (shippingAddressForm.get('city')?.errors?.['required']) {
            <p class="p-1 m-0"> city is required </p>
            }
            @else if (shippingAddressForm.get('city')?.errors?.['pattern']) {
            <p class="p-1 m-0"> Enter the address in detail </p>
            }
        </div>
        }

        <button [disabled]="shippingAddressForm.invalid" class="btn-main block ms-auto my-3">
            @if (isLoading) {
            <span><i class="fa fa-spin fa-spinner"></i></span>
            }
            @else {
            <span>checkOut</span>
            }
        </button>
    </form>
</div>