<nav class="navbar navbar-expand-lg bg-main-light">
    <div class="container">
        <div class="cart-logo cursor-pointer" routerLink="home">
            <img src="assets/images/freshcart-logo.svg" alt="cart-logo">
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (isLogin == true) {
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="bg-main text-white rounded-3">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart" routerLinkActive="bg-main text-white rounded-3">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products"
                        routerLinkActive="bg-main text-white rounded-3">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categories"
                        routerLinkActive="bg-main text-white rounded-3">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands" routerLinkActive="bg-main text-white rounded-3">Brands</a>
                </li>
            </ul>
            }

            <div class="links d-flex align-items-center justify-content-center gap-4 ms-auto">
                <div class="icons d-flex align-items-center justify-content-center gap-3">
                    <a target="_blank" href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/?locale=ar_AR">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://www.tiktok.com">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                    <a target="_blank" href="https://x.com/?lang=ar">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/feed/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/">
                        <i class="fa-brands fa-youtube"></i>
                    </a>

                    <div class="status d-flex justify-content-center align-items-center gap-3">
                        @if (isLogin == false) {
                        <a class="nav-link" routerLink="login" routerLinkActive="text-main">Login</a>
                        <a class="nav-link" routerLink="register" routerLinkActive="text-main">Register</a>
                        }
                        @else {
                        <a (click)="_AuthService.logOut()" class="nav-link" routerLinkActive="text-main">Logout</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>