<div class="forgetpassword-page login_form md:w-3/4 mx-auto py-5 capitalize">
    <!-- ================================ forget Password Form ======================================= -->
    @if (emailFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Email confirm :</h1>
        <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }
            <label for="email">email</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path
                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                        <path
                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                </div>
                <input formControlName="email" type="text" id="input-group-1"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="ahmedshaaban@gmail.com">
            </div>

            <!-- validation  -->
            @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="alert-danger">
                @if (emailForm.get('email')?.errors?.['required']) {
                <p class="p-1 m-0"> email is required </p>
                }
                @else if (emailForm.get('email')?.errors?.['email']) {
                <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                }
            </div>
            }

            <button [disabled]="emailForm.invalid" class="btn-main mt-5 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Email</span>
                }
            </button>
        </form>
    </div>
    }

    <!-- ================================ Code Form ======================================= -->
    @if (codeFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Code confirm :</h1>
        <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }

            <label for="code">Code</label>
            <input formControlName="resetCode" type="text" id="number-input" aria-describedby="helper-text-explanation"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                placeholder="000000" />

            <!-- validation  -->
            @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="alert-danger">
                @if (codeForm.get('resetCode')?.errors?.['required']) {
                <p class="p-1 m-0"> Code is required </p>
                }
                @else if (codeForm.get('resetCode')?.errors?.['pattern']) {
                <p class="p-1 m-0"> code is not valid </p>
                }
            </div>
            }

            <button [disabled]="codeForm.invalid" class="btn-main mt-5 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Code</span>
                }
            </button>
        </form>
    </div>
    }

    <!-- ================================ new Password ======================================= -->
    @if (newPasswordFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">new Password :</h1>
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPasswordForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }

            <label for="email">email :</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path
                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                        <path
                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                </div>
                <input formControlName="email" type="text" id="input-group-1"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="ahmedshaaban@gmail.com">
            </div>

            <!-- validation  -->
            @if (newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched) {
            <div class="alert-danger">
                @if (newPasswordForm.get('email')?.errors?.['required']) {
                <p class="p-1 m-0"> email is required </p>
                }
                @else if (newPasswordForm.get('email')?.errors?.['email']) {
                <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                }
            </div>
            }

            <div class="password mt-2">
                <label for="password">new password :</label>
                    <input formControlName="newPassword" type="password" id="password"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="•••••••••" />

                <!-- validation  -->
                @if (newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
                <div class="alert-danger">
                    @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
                    <p class="p-1 m-0"> password is required </p>
                    }
                    @else if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
                    <p class="p-1 m-0"> enter valid password :
                        <br>
                        1-At least 8 characters long.
                        <br>
                        2-Contains at least one uppercase letter.
                        <br>
                        3-Contains at least one lowercase letter.
                        <br>
                        4-Contains at least one digit.
                        <br>
                        5-Contains at least one special character.
                    </p>
                    }
                </div>
                }
            </div>

            <button [disabled]="newPasswordForm.invalid" class="btn-main mt-5 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>new password</span>
                }
            </button>
        </form>
    </div>
    }
</div>