<div class="forgetpassword-page login_form w-3/4 mx-auto py-20 mb-20 capitalize">
    <!-- ================================ forget Password Form======================================= -->
    @if (emailFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Email confirm :</h1>
        <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }
            <label for="email">email</label>
            <input formControlName="email" type="email" name="email"
                class="form-control border border-gray-300 rounded p-2 w-full">

            <!-- validation  -->
            @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="alert-danger">
                @if (emailForm.get('email')?.errors?.['required']) {
                <p class="p-1 m-0"> email is required </p>
                }
                @else if (emailForm.get('email')?.errors?.['email']) {
                <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                }
            </div>
            }

            <button [disabled]="emailForm.invalid" class="btn-main mt-2 mb-20 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Email</span>
                }
            </button>
        </form>
    </div>
    }


    <!-- ================================ Code Form ======================================= -->
    @if (codeFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Code confirm :</h1>
        <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }

            <label for="code">Code</label>
            <input formControlName="resetCode" type="text" name="code"
                class="form-control border border-gray-300 rounded p-2 w-full">

            <!-- validation  -->
            @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="alert-danger">
                @if (codeForm.get('resetCode')?.errors?.['required']) {
                <p class="p-1 m-0"> Code is required </p>
                }
                @else if (codeForm.get('resetCode')?.errors?.['pattern']) {
                <p class="p-1 m-0"> code is not valid </p>
                }
            </div>
            }

            <button [disabled]="codeForm.invalid" class="btn-main mt-2 mb-20 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Code</span>
                }
            </button>
        </form>
    </div>
    }

</div>