<div class="forgetpassword-page login_form md:w-3/4 mx-auto py-20 mb-20 capitalize">
    <!-- ================================ forget Password Form ======================================= -->
    @if (emailFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Email confirm :</h1>
        <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }
            <label for="email">email</label>
            <input formControlName="email" type="email" name="email"
                class="form-control border border-gray-300 rounded p-2 w-full">

            <!-- validation  -->
            @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="alert-danger">
                @if (emailForm.get('email')?.errors?.['required']) {
                <p class="p-1 m-0"> email is required </p>
                }
                @else if (emailForm.get('email')?.errors?.['email']) {
                <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                }
            </div>
            }

            <button [disabled]="emailForm.invalid" class="btn-main mt-2 mb-20 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Email</span>
                }
            </button>
        </form>
    </div>
    }

    <!-- ================================ Code Form ======================================= -->
    @if (codeFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">Code confirm :</h1>
        <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }

            <label for="code">Code</label>
            <input formControlName="resetCode" type="text" name="code"
                class="form-control border border-gray-300 rounded p-2 w-full">

            <!-- validation  -->
            @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="alert-danger">
                @if (codeForm.get('resetCode')?.errors?.['required']) {
                <p class="p-1 m-0"> Code is required </p>
                }
                @else if (codeForm.get('resetCode')?.errors?.['pattern']) {
                <p class="p-1 m-0"> code is not valid </p>
                }
            </div>
            }

            <button [disabled]="codeForm.invalid" class="btn-main mt-2 mb-20 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>send Code</span>
                }
            </button>
        </form>
    </div>
    }

    <!-- ================================ new Password ======================================= -->
    @if (newPasswordFormFlag) {
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold my-2">new Password :</h1>
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPasswordForm()">

            @if (errMsg) {
            <div class="alert-danger">
                <p class="p-2 my-2">{{errMsg}}</p>
            </div>
            }

            <label for="email">email :</label>
            <input formControlName="email" class="form-control border border-gray-300 rounded p-2 w-full" type="email"
                name="email">

            <!-- validation  -->
            @if (newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched) {
            <div class="alert-danger">
                @if (newPasswordForm.get('email')?.errors?.['required']) {
                <p class="p-1 m-0"> email is required </p>
                }
                @else if (newPasswordForm.get('email')?.errors?.['email']) {
                <p class="p-1 m-0"> Enter a valid email, e.g., ahmed&#64;gmail.com </p>
                }
            </div>
            }

            <div class="password mt-2">
                <label for="password">new password :</label>
                <input formControlName="newPassword" class="form-control border border-gray-300 rounded p-2 w-full"
                    type="password" name="password">

                <!-- validation  -->
                @if (newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
                <div class="alert-danger">
                    @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
                    <p class="p-1 m-0"> password is required </p>
                    }
                    @else if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
                    <p class="p-1 m-0"> enter valid password :
                        <br>
                        1-At least 8 characters long.
                        <br>
                        2-Contains at least one uppercase letter.
                        <br>
                        3-Contains at least one lowercase letter.
                        <br>
                        4-Contains at least one digit.
                        <br>
                        5-Contains at least one special character.
                    </p>
                    }
                </div>
                }
            </div>

            <button [disabled]="newPasswordForm.invalid" class="btn-main mt-2 mb-20 block ms-auto">
                @if (isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
                }
                @else {
                <span>new password</span>
                }
            </button>
        </form>
    </div>
    }
</div>