@if (isLoading) {
<div class="h-screen row justify-center items-center">
    <div class="loader"></div>
</div>
}@else {
@if (data.products.length != 0)
{
<div class="cart [text-transform:capitalize] py-5">
    <h1 class="text-xl font-semibold my-3">shope cart</h1>
    <p class="text-main mb-3">total price : {{data.totalCartPrice}} EGP</p>

    @for (product of data.products; track $index)
    {
    <div class="row bg-gray-200 border-b items-center border-gray-400 rounded">
        <div class="md:w-1/12 p-3">
            <img [src]="product.product.imageCover" [alt]="product.product.title">
        </div>

        <div class="md:w-10/12 p-3">
            <h2 class="text-lg font-medium mt-2">{{product.product.title}}</h2>
            <p class="text-main my-3">price : {{product.price}} EGP</p>
            <span (click)="removeProductFromCart(product.product._id)" class="cursor-pointer"><i
                    class="fa fa-trash text-main"></i> remove </span>
        </div>

        <div class="md:w-1/12 md:p-0 pe-5 ms-auto row items-center md:justify-evenly">
            <button (click)="updateProductCartCount(product.product._id, product.count = product.count + 1)"
                class="text-white bg-green-400 rounded p-2">+</button>
            <span class="mx-3 md:mx-0">{{product.count}}</span>
            <button (click)="updateProductCartCount(product.product._id, product.count = product.count - 1)"
                class="text-white bg-red-400 rounded p-2">-</button>
        </div>

    </div>
    }

    <div class="cart-btn my-5 flex items-center justify-between">
        <button [disabled]="data.totalCartPrice<=0" class="btn-danger block" (click)="clearCart()">Clear Cart</button>

        <button [disabled]="data.totalCartPrice<=0" class="btn-main block"
            [routerLink]="['/shippingaddress' , data._id]">Order</button>
    </div>
</div>
}
@else {
<div class="empty-cart flex flex-col items-center justify-center mt-20 text-center">
    <i class="fa-solid fa-cart-shopping text-main text-9xl"></i>
    <h2 class="text-3xl md:text-5xl font-semibold mt-5">Your Cart Is Empty</h2>
</div>
}
}